@import url('https://fonts.googleapis.com/css?family=Muli:200,300');

body {

    font-family: Muli,sans-serif;
    direction: ltr;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    transition: .5s;
}


/* Header */

header {
    width: 100%;
    background-image: url('../images/bg.jpg');
    background-position: 444px 657px;
}

.overlay {
	width: 100%;
	height: 100%;
	margin: 0;
	position: absolute;
    background-color: rgba(0, 0, 0, .7);
}

.site-nav {
    width: 100%;
    padding: 1.5% 0 1.5% 7%;
    background-color: rgba(43, 43, 45, .8);
	border-bottom: 2px solid #959595;
}

.handle {
    font-size: 16px;
    color: #2a93d5;
    cursor: pointer;
}

.handle span {
    font-family: "Droid Arabic Kufi","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.site-nav-list {
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.showing {
    height: auto;
    opacity: 1;
    visibility: visible;
}

.site-nav-list li {
    width: 100%;
    display: inline-block;
}

.home {
    display: none;
}

.site-nav-list a {
    font-size: 16px;
    color: #959595;
    font-weight: 300;
    line-height: 50px;
}

.site-nav-list a:hover {
    color: #00A0FF;
    padding-right: 3%;
}

.me {
    text-align: center
}


.me h4 {
    width: 100%;
    display: inline-block;
    padding: .5% 0 2%;
    letter-spacing: 1.5px;
    text-align: center; 
    text-transform: uppercase;
}

.iam {
    font-size: 50px;
    color: #fff;
    font-weight: 300;
    width: 100%;
    padding: 0;
}

.name {
    font-size: 33px;
    color: #2a93d5;
    font-weight: 200;
    text-align: center;
    width: 100%;
}

.me p {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    width: 100%;
}

/* About */

.about {
    width: 100%;
    margin-top: 3%;
}

.special-h {
    font-size: 18px;
    color: #2a93d5;
    text-align: center;
    font-weight: 300;
    width: 100%;
    height: 1px;
    padding-bottom: 3%;
    display: inline-block;
    position: relative;
}

.special-h:before,
.special-h:after {
    content: "";
    position: absolute;
    border-top: 1px solid #efefef;
    border-radius: 50%;
    width: 41%;
    height: 1px;
    top: 150%;
}

.special-h:before {
    right: 61%;
}

.special-h:after {
    left: 61%;
}


.about p {
    font-size: 14px;
    color: #666;
    text-align: center;
    line-height: 1.7;
    padding-top: 1%;
}

/* Features */

.features {
    width: 100%;
    margin-top: 3%;
}

.item {
    height: auto;
    margin-top: 3%;
}

.item-head {
    width: 100%;
}

.item-head h4 {
    font-size: 16px;
    color: #666;
    font-weight: 400;
    padding-bottom: 1%; 
}

.item p {
    font-size: 14px;
    color: #666;
    font-weight: 200;
    padding-right: 16%; 
}

.item img {
    width: 20%;
}

/* Projects */

.project {
    padding: 4% 2%;
}

.project-img {
    width: 100%;
}

.project-img img {
    width: 100%;
    border-radius: 3px;
}

.project-info h4 {
    padding: 2% 0;
}

.project-info a {
    color: #2a93d5;
    font-weight: 400;
}

.project-info a:hover {
    color: #959595;
}

.project-info p {
    font-size: 14px;
    color: #666;
    font-weight: 200;
    line-height: 1.5;
    padding-right: 10%;
}

/* Footer */

.footer {
    width: 100%;
    padding: 4% 0;
    background-color: #1b1b1d;
    text-align: center;
}

.social-media {
    width: 100%;
    text-align: center;
}

.social-media li {
    display: inline-block;
    padding: 0 1%
}

.footer a {
    font-size: 13px;
    color: #e0e0e0;
    font-weight: 300;
    line-height: 20px;
}

.footer a:hover {
    color: #999;
}

@media (min-width: 640px) and (max-width: 960px) {

    header {
        background-position: 700px 700px;
    }

    .overlay {
        background-color: transparent;
    }

    .me {
        float: left;
    }

    .name {
        font-size: 30px;
    }

    .me p {
        font-size: 16px;
    }

    .special-h {
        padding-bottom: 1.5%;
    }

    .item {
        padding: 2% 3% 4% 6%;
    }

    .item p {
        padding-right: 0;
    }

    .project-info p {
        padding-right: 14%;
    }

    .footer {
        padding: 3% 0;
    }

    .footer a {
        font-size: 14px;
    }

}

@media screen and (min-width: 960px) {

    header {
        background-position: bottom right;
    }

    .overlay {
        background-color: transparent;
    }

    .container {
        width: 85%;
    }


    .site-nav {
        height: 44px;
        padding: 0;
        border: none;
    }
    
    .handle {
        display: none;
    }

    .site-nav-list {
        height: 44px;
        text-align: center;
        opacity: 1;
        visibility: visible;
    }

    .site-nav-list li {
        width: auto;
        max-height: 44px;
        margin-left: 2%;
    }

    .site-nav-list a {
        font-size: 14px;
        color: #fff;
        line-height: 44px;
    }

    .site-nav-list a:hover {
        margin-left: : 7%;
    }

    .active-link a {
        color: #2a93d5;
        font-weight: 400; 
    }

    .me {
        padding: 10% 50% 0% 15%;
    }

    .name {
        font-size: 45px;
    }

    .special-h {
        padding-bottom: 1%;
    }

    .special-h:before,
    .special-h:after {
        width: 50%;
        top: 100%;
    }

    .special-h:before {
        right: 54%;
    }

    .special-h:after {
        left: 54%;
    }

    .about p {
        padding: 1% 25%;
    }

    .item {
        padding: 3% 5% 3% 7%;
    }

    .item p {
        padding-right: 25%;
    }

    .project {
        padding: 4% 4% 3%;
    }

    .project-info a {
        font-size: 16px;
    }

    .footer {
        padding: 1% 0;
    }

    .footer a {
        font-size: 14px;
    }

}